@font-face {
    font-family: 'akkurat-mono';
    src: url(../fonts/Akkurat-Mono.pfb);
    src: local('☺'),
    url('Akkurat-Mono.pfm') format('pfm');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akkurat-regular';
    src: url(../fonts/AkkRg_Pro_1.otf);
    src: local('☺'),
    font-weight: normal;
    font-style: normal;
}

p {
  color: white;
  font-size: 250%;
  font-family: 'akkurat-regular';
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
}

#videoCanvas {
    visibility: hidden;
}

#brush-wave {
  height:300px;
  width:300px;
  position: absolute;
}

#instructions-text {
  padding-left: 350px;
  padding-top: 100px;
  font-size: 200%;
}

#finish-text {
  visibility: hidden;
  padding-left: 350px;
  padding-top: 100px;
  font-size: 200%;
}

#day {
  top: 50px;
  color: white;
  position: absolute;
  right: 150px;
}

#date {
  color: white;
  position: absolute;
  right: 70px;
  top: 100px;
  border-style: solid;
  padding: 15px 20px;
  font-family: 'akkurat-mono';
}

#clock {
  color: white;
  position: absolute;
  right: 70px;
  top: 190px;
  font-size: 350%;
  font-family: 'akkurat-mono';
}

#finish {
  padding-left: 120px;
  padding-top: 50px;
}

.fit { /* set relative picture size */
    max-width: 100%;
    max-height: 100%;
}

.center {
    display: block;
    margin: auto;
}

.progress {
    position: absolute;
    height: 100px;
    z-index: 100;
    margin: 10px;
}

.progress > svg {
    height: 100%;
    display: block;
}
