@font-face {
    font-family: 'akkurat-mono';
    src: url(../fonts/Akkurat-Mono.pfb);
    src: local('☺'),
    url('Akkurat-Mono.pfm') format('pfm');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #121212;
    font-family: 'akkurat-mono';
}

#videoCanvas {
    visibility: hidden;
}

#brush-wave{
  height:300px;
  width:300px;
  position: absolute;
}

#day {
  color: white;
  position: absolute;
  right: 0px;
}

#date {
  color: white;
  position: absolute;
  right: 0px;
  top: 20px;
}

#clock {
  color: white;
  position: absolute;
  right: 0px;
  top: 40px;
}

p
{
  color: white;
  font-size: 150%;
  padding-left: 120px;
  padding-top: 50px;
}

* {
    padding: 0;
    margin: 0;
}

.fit { /* set relative picture size */
    max-width: 100%;
    max-height: 100%;
}

.center {
    display: block;
    margin: auto;
    padding-left: 150px;
}

.progress {
    position: absolute;
    height: 100px;
    z-index: 100;
    margin: 10px;
}

.progress > svg {
    height: 100%;
    display: block;
}
